$primaryColor:#f54245;
$SecondaryColor: #F6F5FF;;

$secondary:#E3E3E3;

$disabledColor: #F4F3FE;
$disabledText: #C5C0DB;
$grey:#7C7A82;
$greyDark:#504D58;
$greysColor: #504D58;
$blackColor: #222;
$grayColor:#444;
$lightgrayColor: #EEE;
$whiteColor : #ffffff;
$boxShadow: 0px 0px 30px rgba(92, 103, 201, 0.1);
$boxShadow1: 0px 0px 10px rgba(153, 153, 153, 0.25);
////// font size///
$fontXs: 10px;
$fontSm: 12px;
$fontMd: 14px;
$fontLg: 16px;
$fontXl: 20px;
$font24: 24px;



/////Screen//////
$screenXxsm: 320px;
$screenXsm: 576px;
$screenSm: 767px;
$screenMd: 1024px;