$primaryColor:#f54245;
$SecondaryColor: #6d6f70;
$Hover:#971315;


$secondaryDisabled: #b6b7b8;
$primaryDisabled:#DDD;




$blackColor: #222;
$grayColor:#444;
$lightgrayColor: #EEE;
$whiteColor : #ffffff;

////// font size///
$fontXs: 10px;
$fontSm: 12px;
$fontMd: 14px;
$fontLg: 16px;
$fontXl: 20px;



/////Screen//////
$screenXxsm: 320px;
$screenXsm: 360px;
$screenSm: 767px;
$screenMd: 1024px;