@import "../../../assets/Scss/variables.scss";
@import "../../../assets/Scss/breakpoints.scss";
.ChangePassWrapper{
     flex-direction: row;
  align-items: flex-start;
  margin: 70px auto;
  width: 450px;
  font-family: "Roboto";
  font-weight: 500;
  justify-content: center;
  @include xsm{
    margin: 30px;
    width: 255px;
  }
 
   img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
   }
    h2{
    text-align: center;
    margin-top: 10px;
  }
  .mt20 {
    margin: 20px 0;
  }
  .mt30{
    @include xsm{
      margin-top: 30px;
    }
  }
}