<ion-view class="pagebg-login" title="Weekly feedback for {{ user_details.first_name }}" ng-controller="feedbackWeeklyCtrl" ng-init="init()">
    <ion-content class="has-header has-header-inner1">
        <div class="topbar"> <span class="head-left">ACTIVITY</span> 
            <!-- <div class="feedback">
                <a href="#" ui-sref="app.feedbackWeekly({id:'{{ user_id }}'})" class="active">Weekly</a>  |  <a href="#" ui-sref="app.feedbackMonthly({id:'{{ user_id }}'})">Monthly</a>
            </div> --> 

            <span class="head-right">COUNT</span>   
        </div>
        <div class="clearfix"></div>

        <form name="feedbackWeeklyForm" novalidate="" ng-submit="validateFeedbackWeekly(feedbackWeeklyForm)">
            <div class="list list-con1">
                <input name="user_id" value="" type="hidden" ng-model="feedbackWeeklyFormData.user_id" />
                <input name="idWeek" value="" type="hidden" ng-model="feedbackWeeklyFormData.idWeek" />
                <input name="feedback_type" value="" type="hidden" ng-model="feedbackWeeklyFormData.feedback_type" />
                <input name="access_token" value="" type="hidden" ng-model="feedbackWeeklyFormData.access_token" />

                <div id="ff_{{feedback_fields[0].feedback_field_id}}">
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_1.$error.required ? 'has-error' : ''" >{{ feedback_fields[0].feedback_field_name }}</div>
                        <select id="feedback_field_1" name="feedback_field_1" ng-model="feedbackWeeklyFormData.feedback_field_1" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>

                <div id="ff_{{feedback_fields[1].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_2.$error.required ? 'has-error' : ''" >{{ feedback_fields[1].feedback_field_name }}</div>
                        <select id="feedback_field_2" name="feedback_field_2" ng-model="feedbackWeeklyFormData.feedback_field_2" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>


                <div id="ff_{{feedback_fields[2].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_3.$error.required ? 'has-error' : ''" >{{ feedback_fields[2].feedback_field_name }}</div>
                        <select id="feedback_field_3" name="feedback_field_3" ng-model="feedbackWeeklyFormData.feedback_field_3" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>


                <div id="ff_{{feedback_fields[3].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_4.$error.required ? 'has-error' : ''" >{{ feedback_fields[3].feedback_field_name }}</div>
                        <select id="feedback_field_4" name="feedback_field_4" ng-model="feedbackWeeklyFormData.feedback_field_4" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>

                <div id="ff_{{feedback_fields[4].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_5.$error.required ? 'has-error' : ''" >{{ feedback_fields[4].feedback_field_name }}</div>
                        <select id="feedback_field_5" name="feedback_field_5" ng-model="feedbackWeeklyFormData.feedback_field_5" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>


                <div id="ff_{{feedback_fields[5].feedback_field_id}}">
                    <label class="item item-input">
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_6.$error.required ? 'has-error' : ''" >{{ feedback_fields[5].feedback_field_name }}</div>
                        <input type="text" class="input1" id="feedback_field_6" name="feedback_field_6"  ng-model="feedbackWeeklyFormData.feedback_field_6" ng-minlength="1" ng-maxlength="100" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
                    </label>
                </div>


                <div id="ff_{{feedback_fields[6].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_7.$error.required ? 'has-error' : ''" >{{ feedback_fields[6].feedback_field_name }}</div>
                        <select id="feedback_field_7" name="feedback_field_7" ng-model="feedbackWeeklyFormData.feedback_field_7" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>

                <div id="ff_{{feedback_fields[7].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_8.$error.required ? 'has-error' : ''" >{{ feedback_fields[7].feedback_field_name }}</div>
                        <select id="feedback_field_8" name="feedback_field_8" ng-model="feedbackWeeklyFormData.feedback_field_8" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>

                <div id="ff_{{feedback_fields[8].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_9.$error.required ? 'has-error' : ''" >{{ feedback_fields[8].feedback_field_name }}</div>
                        <select id="feedback_field_9" name="feedback_field_9" ng-model="feedbackWeeklyFormData.feedback_field_9" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>

                <div id="ff_{{feedback_fields[9].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_10.$error.required ? 'has-error' : ''" >{{ feedback_fields[9].feedback_field_name }}</div>
                        <select id="feedback_field_10" name="feedback_field_10" ng-model="feedbackWeeklyFormData.feedback_field_10" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>

                <div id="ff_{{feedback_fields[10].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_11.$error.required ? 'has-error' : ''" >{{ feedback_fields[10].feedback_field_name }}</div>
                        <select id="feedback_field_11" name="feedback_field_11" ng-model="feedbackWeeklyFormData.feedback_field_11" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>

                <div id="ff_{{feedback_fields[11].feedback_field_id}}" >
                    <label class="item item-input item-select" >
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_12.$error.required ? 'has-error' : ''" >{{ feedback_fields[11].feedback_field_name }}</div>
                        <select id="feedback_field_12" name="feedback_field_12" ng-model="feedbackWeeklyFormData.feedback_field_12" required>
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select>
                    </label>
                </div>

                <div id="ff_{{feedback_fields[12].feedback_field_id}}">
                    <label class="item item-input">
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_13.$error.required ? 'has-error' : ''" >{{ feedback_fields[12].feedback_field_name }}</div>
                        <input type="text" class="input1" id="feedback_field_13" name="feedback_field_13"  ng-model="feedbackWeeklyFormData.feedback_field_13" ng-minlength="1" ng-maxlength="100" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
                    </label>
                </div>


                <div id="ff_{{feedback_fields[13].feedback_field_id}}">
                    <label class="item item-input">
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_14.$error.required ? 'has-error' : ''" >{{ feedback_fields[13].feedback_field_name }}</div>
                        <input type="text" class="input1" id="feedback_field_14" name="feedback_field_14"  ng-model="feedbackWeeklyFormData.feedback_field_14" ng-minlength="1" ng-maxlength="100" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
                    </label>
                </div>

                <div id="ff_{{feedback_fields[14].feedback_field_id}}">
                    <label class="item item-input item-stacked-label">
                        <div class="input-label" ng-class="feedbackWeeklyForm.feedback_field_14.$error.required ? 'has-error' : ''" >{{ feedback_fields[14].feedback_field_name }}</div>
                        <textarea class="txt-area1" id="feedback_field_15" name="feedback_field_15" ng-model="feedbackWeeklyFormData.feedback_field_15" required></textarea>
                    </label>
                </div>

                <div class="has-error">{{ flash_failure }} </div>

                <button type="submit" class="button button-stable button-block btn-login" ng-disabled="feedbackWeeklyForm.$invalid">SUBMIT</button>

                <!-- <a ui-sref="app.my-buddies">
                    <button id="toMyBuddies" style="display: none;">toMyBuddies</button>
                </a> -->

                <!-- <a class="button button-stable  button-block btn-login" onclick="setFeedbackWeeklyValidations(this);">SUBMIT</a> -->
            </div>
        </form>
    </ion-content>
</ion-view>