@import "../../assets/Scss/variables.scss";

.row{
    display: flex;
    flex-wrap: wrap;
    .dashBord{
        flex: 0 0 auto;
        width: 100%;
        margin: auto;
        
    }

    .colMd{
        // flex: 0 0 auto;
        // width: 20%;
    }

    .justifyContentCenter{
        justify-content: center;
    }
}
.py15{
    padding: 15px 0;
}
.pb50{
    padding-bottom: 50px;
}