@import "../../../assets/Scss/variables.scss";
.listWrapper {
  max-width: 530px;
  border: 1px solid $disabledText;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  .rightIcon  {
    margin: auto 8px auto auto;
    color: $grey;
    font-size: $fontXl;
  }
 .rightButton{
  margin: auto 8px auto auto;
 }
  h5{
    color: $greysColor;
  }
  img {
    margin: 15px;
    min-height: 45px;
    max-width: 45px;
  }

  .mainWrepper {
    margin: 18px;
    padding-right: 220px;
    .mapWrepper {
      display: flex;
      .mapText {
        margin: -5px 5px;
      }
      i {
        font-size: 13px;
        color: $grey;
        margin: -1px 0px;
      }
    }
  }

  .mt10 {
    margin-top: 8px;
  }
}

@media (min-width:577px) and (max-width: 840px) {
  .listWrapper{
    .mainWrepper{
      padding: unset;
    }
  }
}

@media(max-width: 576px) {
  .listWrapper
  {
        .mainWrepper{
      padding: unset;
    }
  }
  
}
