@import "../../../assets/Scss/variables.scss";


.smText{font-size: $fontSm;} 
.mdText{font-size: $fontMd;} 
.lgText{font-size: $fontLg;} 
.primaryColor{color: $primaryColor;}
.SecondaryColor{color: $SecondaryColor;}
.blackColor{color: $blackColor;}