.forgotWrapper{
    max-width: 450px;
    margin: 120px auto;
    .textCenter {
    text-align: center;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .mt20 {
    margin: 20px 0;
  }
}