.main-title-section-wrapper { background-image:url(../images/breadcrumb-blog.jpg); min-height:495px; background-size:cover; background-position:center top; background-repeat:no-repeat; 
padding-top: 220px; padding-bottom: 150px; text-align:center; background-attachment:fixed;}
.main-title-section {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.btn_1 { border:0; border-radius:3px; height:45px; background-color:#14d6ed; color:#fff; line-height:46px;
font-size: 14px; padding: 0px 30px 0px 30px; position:relative;}
.btn_1:hover, .btn_1:focus, .btn_1:active { background-color:#2F3436; color:#fff;}
.btn_1 span {
    padding: 0 15px;
    position: absolute;
    margin: 0px 0px 0px 15px;
    display: inline-block;
    top: 0px;
    right: 0;
    box-sizing: border-box;
    height: 100%;
	color:#fff;
	line-height:45px;
	border-left:1px solid #24DCF2;
	
transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out;
}
.btn_1.with-icon { padding:0px 60px 0px 30px;}
.btn_1:hover span, .btn_1:focus span, .btn_1:active  span {  border-left:1px solid #595D5E; }
.btn_1_marl{margin-left: 10px;}
.posted { font-size: 14px; font-weight: 300; letter-spacing: 0.5px; margin-bottom: 7px; color:#86898b;}
.blog-pic { margin:0 0 20px 0; height:360px; overflow:hidden;} 
.blog-title {

font-size: 18px;
text-transform: uppercase;
margin-bottom: 25px;
word-break: break-word;
-ms-word-wrap: break-word;
color:#2f3436;
font-weight: 600;
letter-spacing: 0.5px;
margin:0 0 25px 0;
display:inline-block; clear:both;
}
.blog-text {
    margin: 0px 0px 15px;
    float: left;
    clear: both;
    width: 100%;
	color:#86898b;
}
.category a  {
    color: #000000;
    font-size: 13px;
}
.blog-img { max-width:100%; }
.blog-container { margin-top:30px;} 

.posted .date, .posted .comments, .posted .author {
    display: inline-block;
}
.posted .date a, .posted .comments a, .posted .author a { color: #888888;}
.category {
    display: inline-block;
    width: 100%;
    margin: 0px 0px 20px;
    padding: 0px;
}
 
.blog-box { border:1px solid #cccccc; background:#ffffff; 
transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out;}
.blog-inner { padding:0 40px 30px 40px; margin-top:-45px;}
.blog-inner1 { margin-top:0px;}
.blog-text1{min-height: 55px;}

.entry-meta {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 7px;
}

.entry-meta .date {
    width: 75px;
    height: auto;
    border: 2px solid #86898b;
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0 10px 0;
    position: relative;
    margin-bottom: 20px;
    margin-right: 5px;
    color: #86898b;
    font-weight: normal;
	
transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out;
}
.entry-meta  .date span {
    font-size: 35px;
    font-weight: bold;
    display: block;
    font-family: inherit;
	
transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out;
}
.blog-box:hover { -webkit-box-shadow: 0 0 5px 5px #ccc;
box-shadow: 0 0 5px 5px #ccc;}
.blog-box:hover .entry-meta .date { border-color: #14d6ed; color: #14d6ed;}
.blog-box:hover .entry-meta .date span { color: #14d6ed;}
.blog-wrapper { margin:0 0 50px 0;}


.secondary-sidebar .widget ul {
    padding: 0 0 20px;
    margin: 0px;
    width: 100%;
    float: left;
    clear: both;
	list-style-type: square;
list-style-position: inside;
    border-bottom: 1px solid;

}
.secondary-sidebar .widget ul li:first-child, .secondary-sidebar .widget.widget_nav_menu ul.menu li:first-child {
    padding-top: 0px;
}
.secondary-sidebar .widget ul li, .secondary-sidebar .widget.widget_nav_menu ul.menu li {
    border-color: rgba(0, 0, 0, 0.15);
}
.secondary-sidebar .widget ul li, .secondary-sidebar .widget.widget_nav_menu ul.menu li {
    display: block;
    clear: both;
    margin: 0px;
    padding: 10px 0px 10px 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.secondary-sidebar .widget ul li > a, .secondary-sidebar .tagcloud a {
    color: #000000;
}
.secondary-sidebar .widget ul li > a, .secondary-sidebar .widget.widget_nav_menu ul.menu li > a {
    display: inline-block;
    line-height: 24px;
    width: 100%;
    box-sizing: border-box;
}
.secondary-sidebar aside.widget {
    clear: both;
    position: relative;
}
.secondary-sidebar .widget {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 40px;
}
.secondary-sidebar .widget {
    float: left;
    margin-bottom: 40px;
    width: 100%;
}
.widgettitle {
    margin: 24px 0px 40px;
    position: relative;
    clear: both;
}
h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.secondary-sidebar .widget ul li:first-child::before {
    top: 0px;
}
.secondary-sidebar .widget ul li::before {
/*    content: "\f10c";
    font-family: FontAwesome;
*/    font-size: 11px;
    left: 0;
    position: absolute;
    top: 10px;
}
.secondary-sidebar .widget ul li a { color:#000000;}
.secondary-sidebar .widget ul li { color:#000000;}
.secondary-sidebar .widget ul li:hover a { color: #14d6ed; text-decoration:none; }
.widgettitle::before {
    content: "";
    position: absolute;
    left: 0px;
    height: 2px;
    width: 30px;
    top: -24px;
	background-color: #14d6ed;
}

.author-info {
    display: block;
    padding: 0px;
    clear: both;
    float: left;
    margin: 20px 0px 0px;
}

.author-info h2 {
letter-spacing: 0.5px;

    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: none;
}
.author-info .thumb {
    width: 120px;
    margin: 0px 20px 0px 0px;
    float: left;
    position: relative;
}
.author-info .thumb img {
    max-width: 100%;
    border-radius: 120px;
    height: auto;
}
.author-info h3 {
    font-size: 18px;
}
.author-info h3 a { color: #2f3436; }
.comment-form .form-control { border-radius:0; box-shadow:none; border-color: rgba(0, 0, 0, 0.15); font-family: 'Open Sans', sans-serif; height:45px;}
.comment-form textarea.form-control {    height: 132px; resize:none;font-family: 'Open Sans', sans-serif;}

h2, h3, h4, h5, h6 {
    text-transform: uppercase;
	color:#2f3436;
}
.blog-detail-view .blog-pic { height:auto;}

.blog-small-view .blog-title { display:inline-block; min-height:51px;}
.comment-respond { margin:50px 0 0 0;}

.blog-box-detail {}

@media (max-width:1200px) {
.blog-img { max-width: inherit; height:100%; }
}
@media (max-width:979px) {
.blog-small-view .blog-inner { padding:0 15px 30px 15px; }
.blog-inner { padding:0 30px 30px;}
.blog-wrapper .blog-box { min-height:710px;}
	}

@media (max-width:767px) {
.blog-pic 	{ height:auto;} 
.blog-box { margin-top:30px;}
.blog-container { margin-top:0;}
.blog-inner { padding:0 15px 30px 15px; }

.blog-small-view .blog-title {
    display: inline-block;
    min-height: inherit;
}
.secondary-sidebar { margin:50px 0 0 0;}

.main-title-section-wrapper {  min-height: 300px;
    padding-bottom: 80px;
    padding-top: 110px;}
.blog-img { max-width: 100%; height: auto; }	
.blog-wrapper .blog-box { min-height: inherit;}
	}

