body {font-family: 'Poppins', sans-serif; color:#86898b; font-size:15px; line-height:26px;}
a:focus, a:active { outline:none;}
a:hover { text-decoration:none;}
header { float:left; width:100%;}
h3 {  font-size: 18px;  font-weight: 600; letter-spacing: 0.5px;}
.slider-con { /*background:url(../images/home-slider0.jpg) no-repeat center center; background-size:cover;*/ float:left; width:100%;} /**/
.tnb { background:rgba(29, 39, 56, 0.9) none repeat scroll 0 0; border:none; font-family: 'Poppins', sans-serif;}
.tnb .navbar-nav > li > a { font-size:18px; color:#ffffff; letter-spacing: 0.5px; padding-top:30px; padding-bottom:30px; padding-left:20px; padding-right:20px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background-color:transparent; color:#14d6ed;}
.tnb .navbar-brand { padding-top:14px; height:auto;}

.dt-sc-icon-box { border:1px solid #14d6ed; text-align:center; position:relative; padding:30px 30px 70px;}
.dt-sc-icon-box h4 { color:#2f3436;  font-size: 16px; font-weight: 600; letter-spacing: 0.5px;}
.icon-wrapper { border:2px solid #14d6ed;  background: #2f3436 none repeat scroll 0 0;  border-radius: 50%; display: block; height: 130px;  line-height: 120px;  margin: 0 auto -50px;  position: relative;    text-align: center; top: -100px; width: 130px;}
.dt-sc-icon-box .icon-wrapper span { background: rgba(0, 0, 0, 0) linear-gradient(#14d6ed 30%, #3ec669) repeat scroll 0 0; display: inline-block;  font-size: 55px; line-height: 130px;  background-clip: text !important;  color: transparent;  position: relative;  transition: all 0.3s linear 0s;}
.dt-sc-icon-box:before { border: none;}
.dt-sc-icon-box:hover::before {  -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.62);  transform: scaleY(1.3);  -webkit-transform: scaleY(1.3);  -ms-transform: scaleY(1.3);  -moz-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.62); box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.62);}
.dt-sc-icon-box:hover .icon-content { color: #fff;}
.dt-sc-icon-box .icon-content h4 a:hover { color: #fff;}
.dt-sc-icon-box:hover .icon-wrapper { top: -140px;}
.dt-sc-icon-box:hover .icon-wrapper { background: #000000;}
.dt-sc-icon-box .icon-content .dt-sc-button.small { font-size: 14px;}
.dt-sc-icon-box:hover .icon-content .dt-sc-button.small { background: #fff !important;}
.dt-sc-counter .icon-wrapper, .dt-sc-icon-box, .dt-sc-icon-box:hover .icon-content, .dt-sc-icon-box:hover::before, .dt-sc-icon-box .icon-wrapper, .dt-sc-icon-box:before, .dt-sc-icon-box .icon-content {-webkit-transition: all 0.3s linear;  -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;}
.dt-sc-icon-box .dt-sc-button:before, .dt-sc-icon-box .dt-sc-button:after {background: #ffffff;}
.dt-sc-icon-box:hover::before { box-shadow: 0 0 50px -20px rgba(0, 0, 0, 0.62); transform: scaleY(1.3);}
.dt-sc-icon-box:hover::before {background: #14d6ed none repeat scroll 0 0;}
.dt-sc-icon-box::before {  content: "";  height: 100%;  left: 0;  position: absolute;  top: 0;  width: 99.5%; z-index: 0;}
.dt-sc-icon-box .icon-content {   position: relative; z-index: 1;}
.dt-sc-icon-box:hover .icon-content { color: #fff;}

.dt-sc-icon-box p { line-height:26px; margin:20px 0 25px;}

.btn-1 { font-size:14px; color:#86898b; border:2px solid #14d6ed; padding:12px 30px 10px; border-radius:3px;}
.dt-sc-icon-box .btn-1:hover { border:2px solid #14d6ed; background:#ffffff; color:#86898b;}


.section-1 { position:relative; margin:0px; float:left; width:100%;}
.parallax-bg1 {background-size: cover; background-repeat: repeat; background-color: transparent; background-image: url(../images/bg1.jpg); background-attachment: fixed; left: 0px; width: 100%;  background-position: center center;
    position: absolute;
    z-index: 0;}
.bg-overlay { background:rgba(227, 252, 255, 0.95);}

.section-2 {padding-bottom: 3% !important; padding-top: 4% !important; float:left; width:100%;}

.title-1 { position:relative; text-align:center;}
.title-1 h2::before {  left: -100px;}
.title-1 h2::before, .title-1 h2::after {  content: "";  height: 2px;  position: absolute; top: 15px; width: 80px;}
.title-1 h2::after { right: -99px;}
.title-1 h2::before, .title-1 h2::after { content: ""; height: 2px; position: absolute; top: 15px; width: 80px;}

/*tab css*/
ul.dt-sc-tabs-vertical {
    float: left;
    margin: 0 -1px 1px 0;
    padding: 0;
    width: 32%;
}
ul.dt-sc-tabs-vertical > li {
    display: block;
    float: left;
    margin: 0 0 -10px;
    padding: 10px 0;
    width: 100%;
}


ul.dt-sc-tabs-vertical > li:last-child {
    padding: 10px 0;
}
.dt-sc-tabs-vertical li.current {
    background: rgba(38, 232, 255, 0.1) none repeat scroll 0 0;
}
ul.dt-sc-tabs-vertical > li > a {
    box-sizing: border-box;
    color: #2f3436;
    float: left;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 5px 20px;
    text-transform: none;
    width: 100%;
	border-left:3px solid #14d6ed;
}

ul.dt-sc-tabs-vertical > li > a.current {
    position: relative;
    z-index: 1;
	color: #14d6ed;
}
.dt-sc-tabs-vertical-content {
    border: medium none;
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0 30px 20px;
    position: relative;
    width: 68%;
}
.v-tab1 {
    background-image: url("http://wedesignthemes.com/themes/finance/wp-content/uploads/2016/08/tab1.jpg?id=37") !important;
}
.ult-content-box { background: rgba(38, 232, 255, 0.9) none repeat scroll 0 0;
    border-color: transparent;
    box-shadow: none;
    margin: 0;
    min-height: 450px;
    padding: 20px 25px;
    transition: all 700ms ease 0s;}
	.ult-content-box::after {
    clear: both;
    display: block;
}
.ult-content-box h3 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px; color:#2f3436; line-height:26px;
}
.ult-content-box p { color:#ffffff; font-size:15px; line-height:26px; margin:15px 0 35px;}
.btn-2 { font-size:14px; padding:12px 30px 10px; background:#ffffff; border:none; border-radius:3px;}
.btn-2:hover { background:#ffffff;}

/*our team*/
.our-team { float:left; width:100%; background: rgba(227, 252, 255, 0.95); padding:50px 0 20px; margin-bottom:40px;}

.dt-sc-team {
    box-sizing: border-box;
    clear: both;
    float: left;
    margin-bottom: 30px;
    overflow: visible;
    width: 100%;
	padding: 0;
    position: relative;
	transition: all 0.3s linear 0s;
}

.dt-sc-team .dt-sc-team-thumb, .dt-sc-team .dt-sc-team-details {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-sizing: border-box;
    float: left;
    width: 50%;
	    transition: all 0.3s linear 0s;

}
.dt-sc-team .dt-sc-team-thumb {
    position: relative;
}

.dt-sc-team .dt-sc-team-thumb .dt-sc-team-thumb-overlay, .dt-sc-hexagon-image span::before {
    background: rgba(38, 232, 255, 0.9) none repeat scroll 0 0;
}
dt-sc-team .dt-sc-team-thumb .dt-sc-team-thumb-overlay {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dt-sc-team .dt-sc-team-details {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    padding: 0 20px;
    position: absolute;
    right: 20px;
    text-align: left;
    top: 29%;
}
.dt-sc-team .dt-sc-team-thumb, .dt-sc-team .dt-sc-team-details {
    box-sizing: border-box;
    float: left;
    width: 50%;
}
.dt-sc-team .dt-sc-team-details h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 5px;
    text-transform: uppercase;
	color: #14d6ed;
}
.dt-sc-team .dt-sc-team-details h5 {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 5px;
    padding: 0;
    text-transform: capitalize;
	color:#2f3436;
}
.dt-sc-team .dt-sc-team-details {
    text-align: left;
}
.dt-sc-team .dt-sc-team-details p {
    color: #86898b;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 5px;
	line-height:20px;
}
.dt-sc-team:hover .dt-sc-team-details {
    background-color: #14d6ed;
}
.dt-sc-team:hover .dt-sc-team-details h4, .dt-sc-team:hover .dt-sc-team-details p { color:#ffffff;}

.dt-sc-team .dt-sc-team-thumb img {
    filter: grayscale(1);
    transition: all 0.5s ease-in-out 0s; 
	display: inline;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    vertical-align: middle;
}
.dt-sc-team:hover .dt-sc-team-thumb img {
    filter: grayscale(0);
}
.mb-100 { margin-bottom:100px;}

/*horizontal tab*/
.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame {
    border-bottom: 5px solid #14d6ed;
    display: table;
    float: left;
    margin: 0 0 50px;
    padding: 0;
    table-layout: fixed;
    width: 100%;
}
.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame > li::after {
    background-color: #fff;
    border: 3px solid #14d6ed;
    border-radius: 50%;
    bottom: -9px;
    content: "";
    height: 15px;
    left: -9px;
    margin-left: 50%;
    position: absolute;
    transition: all 0.3s linear 0s;
    width: 15px;
}

.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame > li {
    color: #74777b;
    cursor: pointer;
    display: table-cell;
    float: none;
    font-size: 14px;
    font-weight: 400;
    margin: 0 1px 0 0;
    padding: 0px;
    position: relative;
    text-align: center;
    width: auto;
}
.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame > li > a {
    border: 0 none;
    border-radius: 0;
    color: #2e3335;
    display: block;
    float: none;
    font-size: 18px;
    font-weight: 600;
    margin: 0 1px 5px 0;
    padding: 0 0 20px;
    position: relative;
    text-transform: uppercase;
}


.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame > li.current::after {
    background-color: #14d6ed;
	border-color:#14d6ed;
}
.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame > li a.current { color:#14d6ed;}
.dt-sc-tabs-horizontal-frame-content h3 { color:#2f3436; text-transform:uppercase;}

.ult_tabs.dt-sc-ultimate_tab .ult_tabmenu.style1 li.ult_tab_li.current::after, ul.dt-sc-fancy-list.hline li::before {
    background: #14d6ed none repeat scroll 0 0;
}

ul.dt-sc-fancy-list.hline li::before {
    content: "";
    height: 7px;
    left: 6px;
    list-style: outside none none;
    position: absolute;
    top: 13px;
    width: 2px;
}
ul.dt-sc-fancy-list li::before {
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    position: absolute;
    text-decoration: inherit;
    top: 5px;
}
ul.dt-sc-fancy-list li {
    clear: both;
    display: block;
    padding: 5px 0 5px 23px;
    position: relative;
}

/*Call us section*/
.call-us-outer { float:left; width:100%; height:650px;}
.call-us-con {
    color: inherit;
    position: absolute;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
	background: rgba(0, 0, 0, 0) linear-gradient(110deg, #41c256 33%, #14d6ed 100%) repeat scroll 0 0; opacity:0.9;
}
.call-us-parallax {
    position: absolute;
    background-position: center center;
    left: 0;
    z-index: 0;
	background-size: cover;
background-repeat: repeat;
background-color: transparent;
background-image: url("http://wedesignthemes.com/themes/finance/wp-content/uploads/2016/10/finance-bg1.jpg");
background-attachment: fixed;
width: 100%;
height:650px;

}
.call-us-wrap { position:relative; padding-top: 10% !important; padding-bottom: 8% !important; text-align:center;}

.call-us-wrap h1 { font-size: 50px;color: #000000;text-align: center; font-weight:bold; margin:45px 0 40px;}
.investment-con { padding-top:3%; padding-bottom:3%;}
.tab-con1 { margin:65px 0 0;}

.horiz-tab-con1 { padding:3% 0% 3%; float:left; width:100%;margin-bottom: 0px;}

.newsletter-con {background-color: #283347 !important;padding-bottom: 45px !important;padding-top: 55px !important; max-width:800px; margin:6% auto 6%; color:#ffffff; }
.newsletter-con .vc_custom_heading { color:#ffffff;margin-top: 0px;}
.para-content { padding-left:15%; padding-right:15%; font-size:15px; line-height:26px;}
.dt-sc-newsletter-section {
    clear: both;
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.dt-sc-newsletter-section.type6 {
    padding: 0;
}
.dt-sc-newsletter-section.type6 .dt-sc-subscribe-frm {
    float: left;
    text-align: center;
    width: 100%;
}
.dt-sc-newsletter-section .dt-sc-subscribe-frm {
    position: relative;
    z-index: 1;
}
.dt-sc-newsletter-section.type6 .dt-sc-subscribe-frm input[type="email"], .dt-sc-newsletter-section.type6 .dt-sc-subscribe-frm input[type="text"] {
    display: inline-block;
    float: none;
    font-size: 15px;
    margin-right: 0;
    padding: 18px 20px;
    text-transform: none;
    width: 55%;
	background: #ffffff none repeat scroll 0 0; color: rgba(0, 0, 0, 0.5); border:none; vertical-align:top;
}
.dt-sc-newsletter-section.type6 .dt-sc-subscribe-frm input[type="submit"] {
    border-radius: 0;
    display: inline;
    float: none;
    font-size: 22px;
    font-weight: normal;
    padding: 18px 35px 18px; background: #14d6ed none repeat scroll 0 0;
border:none; vertical-align:top; margin-left: -5px;
}
.dt-sc-newsletter-section.type6 .dt-sc-subscribe-frm input[type="submit"]:hover {background: #2f3436 none repeat scroll 0 0;}


.vc_custom_1475127061591 {box-sizing: border-box;
    padding-left: 191.5px;
    padding-right: 191.5px;
    position: relative;
    width: 100%; background-color: #f8f8f8 !important; margin-left:0px; margin-right:0px;}
	.dt-sc-contact-info {
    /*clear: both;*/
    color: #2f3436;
    line-height: 28px;
    margin: 0;
    padding: 0;
    position: relative;
    /*width: 100%;    float: left;*/
}

.dt-sc-contact-info.type1 span, .dt-sc-icon-box.type1 .icon-wrapper span {
    background: rgba(0, 0, 0, 0) linear-gradient(#14d6ed, #3ec669) repeat scroll 0 0;
}
.dt-sc-contact-info.type1 span {
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    color: transparent;
    font-size: 30px;
	margin-left:25px;
}
.dt-sc-contact-info .icon-pointer {
    margin-bottom: 10px;
}
.dt-sc-contact-info span {
    float: left;
    text-align: center;
    width: 30px;
}
.dt-sc-contact-info span {
    float: left;
    margin: 3px 15px 0 0;
    text-align: center;
    width: 30px;
}
.vc_custom_1477130271207 {
    /*background-color: #ffffff !important;*/
    padding-bottom: 35px !important;
    padding-left: 9% !important;
    padding-top: 35px !important;
}
.dt-sc-contact-info.type1  a { color:#14d6ed;}
.dt-sc-contact-info.type1  a:hover { color:#2F3436;}
.dt-sc-contact-info {
    line-height: 28px;
}
.vc_custom_1475835849772 {
    padding-bottom: 35px !important;
    padding-top: 35px !important;
}

.dt-sc-sociable {
    clear: both;
    float: left;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.dt-sc-sociable li {
    display: inline;
    float: left;
    margin: 0 5px 5px;
    padding: 0;
}
.dt-sc-sociable li a {
    float: left;
    font-size: 20px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px;
	color:#14d6ed;
}

/*footer*/
.footer-widgets, #footer, .footer-copyright {
    color: rgba(255, 255, 255, 0.6);
}
#footer {
    clear: both;
    float: left;
    margin: 0;
    width: 100%;
}
.footer-widgets, #footer, .footer-copyright {
    color: rgba(255, 255, 255, 0.6);
}
.footer-widgets {
    background-color: rgba(40, 51, 71, 1);
}
.footer-widgets {
    clear: both;
    float: left;
    margin: 0;
    padding: 50px 0 20px;
    width: 100%;
}
.column.first {
    clear: both;
    margin-left: 0;
}
.dt-sc-one-half {
    width: 49%;
}
.column {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    position: relative;
}
.footer-widgets .widget {
    clear: both;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.widgettitle::before {
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: -24px;
    width: 30px;
}
#footer h3 {
    color: #fff;
}
#footer .widgettitle {
    clear: both;
    margin: 24px 0 40px;
    position: relative; 
}
#footer .widgettitle::before {background-color:transparent !important;}
.dt-sc-one-fourth {
    width: 23.5%;
}
.column {
    box-sizing: border-box;
    float: left;
    margin: 0 0 0 2%;
    min-height: 1px;
    position: relative;
}
.widget ul {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.footer-widgets .widget_text .textwidget li::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 7px;
    left: 0;
    list-style: outside none none;
    position: absolute;
    top: 8px;
    width: 2px;
}
.widget ul li:first-child::before {
    top: 0;
}
.widget ul li::before {
    content: "";
    font-family: FontAwesome;
    font-size: 11px;
    left: 0;
    position: absolute;
    top: 10px;
}
.widget.widget_archive ul li, .widget.widget_categories ul li, .widget.widget_pages ul li, .widget.widget_meta ul li, .widget.widget_nav_menu ul.menu li, .widget.widget_text ul li {
    padding: 0;
}
.footer-widgets .textwidget li {
    border-bottom: 0 none;
}
.footer-widgets .textwidget li {
    list-style: outside none none;
    position: relative;
}
.widget ul li, .widget.widget_nav_menu ul.menu li {
    box-sizing: border-box;
    clear: both;
    display: block;
    margin: 0;
    width: 100%;
}
.widget ul li > a, .widget.widget_nav_menu ul.menu li > a {
    box-sizing: border-box;
    display: inline-block;
    line-height: 24px;
    width: 100%;
}
.footer-widgets a, #footer a {
    color: rgba(255, 255, 255, 0.6);
}
.footer-widgets a:hover, #footer a:hover { color:#ffffff;}
.widget.widget_archive ul li:first-child > a, .widget.widget_categories ul li:first-child > a, .widget.widget_pages ul li:first-child > a, .widget.widget_meta ul li:first-child > a, .widget.widget_nav_menu ul.menu li:first-child > a, .widget.widget_text ul li:first-child > a {
    padding-top: 0;
}
.footer-copyright {
    background: rgba(29, 39, 56, 1) none repeat scroll 0 0;
}
.footer-copyright {
    clear: both;
    float: left;
    margin: 0;
    padding: 30px 0;
    width: 100%;
}
#footer .container {
    z-index: 9;
}
footer .textwidget ul li a {padding-bottom: 10px;
    padding-left: 20px;}
.vc_custom_1475835936659 {
    padding-bottom: 35px !important;
    padding-top: 35px !important;
}
.vc_custom_1475127061591 .vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    width: 100%; float:left;
}

/*Investment in knowledge section*/
.section2 { float:left; width:100%; height:720px;}
.overlay-bg {
    color: inherit;
    position: absolute;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
	background: rgba(227, 252, 255, 0.95);
}
.parallax-bg1 {
    position: absolute;
    background-position: center center;
    left: 0;
    z-index: 0;
	background-size: cover;
background-repeat: repeat;
background-color: transparent;
background-image: url(../images/bg1.jpg);
background-attachment: fixed;
width: 100%;
height:720px;

}
.section2-wrap { position:relative; padding-top: 5% !important; padding-bottom: 4% !important; }

.call-us-wrap h1 { font-size: 50px;color: #000000;text-align: center; font-weight:bold; margin:45px 0 40px;}
/*Investment in knowledge section*/

.four-colum-con {padding-bottom: 5% !important;}

.uvc-heading.ultimate-heading-5944583d432917d00 h4 {
    font-size: 24px;
}
.uvc-heading .uvc-main-heading h1, .uvc-heading .uvc-main-heading h2, .uvc-heading .uvc-main-heading h3, .uvc-heading .uvc-main-heading h4, .uvc-heading .uvc-main-heading h5, .uvc-heading .uvc-main-heading h6 {
    line-height: normal;
    margin: 0;
    padding: 0;
}
.uvc-heading.ultimate-heading-5944583d432917d00 .uvc-sub-heading {
    font-size: 20px;
    line-height: 45px;
	color: #2f3436;
    font-weight: normal;
}
.vc_custom_1473332739462 {
    margin-top: 35px !important;
	 margin-bottom: 35px;
}
.uvc-heading { margin-top:35%;}
.btn-con { text-align:center; margin:50px 0 35px;}
.home-blog {/*background: rgba(227, 252, 255, 0.95);*/ padding:50px 0 10px;}

/*pricing table css*/
.dt-sc-pr-tb-col {
    border: 1px solid rgba(0, 0, 0, 0.07);
}
.dt-sc-pr-tb-col .dt-sc-price { border-top:1px solid #ffffff;}
 .dt-sc-pr-tb-col .dt-sc-tb-content li { border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
.dt-sc-pr-tb-col {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 0 0 30px;
}
.dt-sc-pr-tb-col {
    border-radius: 5px;
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
}
.dt-sc-icon-box.type5 .icon-wrapper::before, .dt-sc-pr-tb-col.minimal .icon-wrapper::before, .dt-sc-pr-tb-col.minimal .dt-sc-price, .dt-sc-pr-tb-col .dt-sc-buy-now a, .dt-sc-images-wrapper .carousel-arrows a, .dt-sc-pr-tb-col .dt-sc-tb-header, .dt-sc-popular-procedures .details {
    background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;
}
.dt-sc-pr-tb-col .dt-sc-tb-header {
    border-radius: 5px 5px 0 0;
    padding: 30px 20px;
	transition: all 0.3s linear 0s;
}
.dt-sc-pr-tb-col .dt-sc-tb-title h5 {
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.dt-sc-pr-tb-col .dt-sc-price {
    margin: 30px 0 0;
    padding: 30px 0 0;
}
.dt-sc-pr-tb-col .dt-sc-price h6 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0;
    position: relative;
}
.dt-sc-pr-tb-col .dt-sc-price h6 sup {
    font-size: 25px;
    letter-spacing: 0.5px;
    top: -23px;
}
.dt-sc-pr-tb-col .dt-sc-price h6 span {
    font-size: 12px;
    margin: 0 0 0 -36px;
    position: relative;
    top: -2px;
}
.dt-sc-pr-tb-col .dt-sc-tb-content {
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0 20px 20px;
    width: 100%;
}
.dt-sc-pr-tb-col, .dt-sc-pr-tb-col .dt-sc-tb-content li {
    border-color: rgba(0, 0, 0, 0.07);
}
.dt-sc-pr-tb-col .dt-sc-tb-content li {
    clear: both;
    display: block;
    float: left;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 15px 0;
    width: 100%;
}
.dt-sc-pr-tb-col .dt-sc-buy-now {
    box-sizing: border-box;
    padding: 0 10px;
}
.dt-sc-pr-tb-col .dt-sc-buy-now a {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
    padding: 15px 25px 14px;
	color:#000000;
}
.dt-sc-button {
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    margin: 10px 0 0;
    outline: medium none;
    position: relative;
    z-index: 1;
}
.dt-sc-icon-box.type5 .icon-wrapper::before, .dt-sc-pr-tb-col.minimal .icon-wrapper::before, .dt-sc-pr-tb-col.minimal .dt-sc-price, .dt-sc-pr-tb-col .dt-sc-buy-now a, .dt-sc-images-wrapper .carousel-arrows a, .dt-sc-pr-tb-col .dt-sc-tb-header, .dt-sc-popular-procedures .details {
    background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;
}
.dt-sc-pr-tb-col:hover .dt-sc-tb-header, .dt-sc-pr-tb-col:hover .dt-sc-button {
    background: #26e8ff none repeat scroll 0 0; color:#ffffff;
}
.dt-sc-pr-tb-col:hover .dt-sc-price h6, .dt-sc-pr-tb-col:hover .dt-sc-tb-title h5 { color:#ffffff;}
.link-2 { font-size:20px; text-decoration:underline; color:#2e3335; font-weight:600;}
.link-2:hover { color:#14d6ed;}
.icon-mail { vertical-align:middle; margin-right:10px; margin-top:-6px;}

.logo-galaxy { display:inline-block; background-image: url(../images/logo-galaxy.png); width:55px; height:28px; vertical-align:top; margin:-2px 0 0 5px; -webkit-transition: none !important;
  -moz-transition: none !important;  -o-transition: none !important;  -ms-transition: none !important;  transition: none !important; text-decoration:none;}
.logo-galaxy:hover { background-position:left bottom;} 

/* New classes */


.carousel-fade .carousel-inner .item {  opacity: 0;  -webkit-transition-property: opacity;  -moz-transition-property: opacity;  -o-transition-property: opacity;
  transition-property: opacity;}
.carousel-fade .carousel-inner .active {  opacity: 1;}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {  left: 0;  opacity: 0;  z-index: 1;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {  opacity: 1;}
.carousel-fade .carousel-control {  z-index: 2; width: 40px;height: 35px;margin: auto;background-image: none;}
.carousel-fade .glyphicon{top: 30%;left: 24%;}

.carousel-fade .carousel-caption{    bottom: 30%; color: #fff;}
.carousel-fade .carousel-caption h1{ color: #fff; font-size: 53px;}


.carousel-control.left{ left:2%;}
.carousel-control.right{right:2%;}

.subscribe{background: rgba(227, 252, 255, 0.95); display: block;}

.list1 { text-align: left;margin-left: 8px; margin-top: 10px; margin-bottom: 60px; }
.list1 .list-group-item { border: 0px none; background: url(../images/list1_ico.png) no-repeat left 12px; padding: 10px 15px 10px 45px; line-height: normal; font-size:15px; }

blockquote.type3 { padding:15px 0 15px 25px; border-left:2px solid #30943F; background: #51C763;color: #fff;padding-right: 20px;}
blockquote.type3 q { font-size:16px; }
blockquote.type3 > cite { clear: left; display: block; text-align: right; }
blockquote.type3 > cite img{width: 35px;height: 35px; }

.sublinks{ float: left; width: 100%; background: #14d6ed;margin-bottom: 60px; }
.sublinks ul{ list-style-type: none; padding: 0px; margin-bottom: 0px;}
.sublinks li{ display: table-cell; width: 1%; text-align: center; vertical-align:middle; position: relative;}
.sublinks li a{ color: #fff;line-height:20px;display:block; padding: 8px 10px;}

.sublinks li a:hover{ color: rgba(29, 39, 56, 1);}
.sublinks li a.active{color: rgba(29, 39, 56, 1);}
.sublinks li a.active:after {top: auto; bottom:-20px;	left: 50%;	border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);	border-top-color: #14d6ed;	border-width: 10px;	margin-left: -10px;}
.showcase {margin-bottom: 30px; float: left; width: 100%;margin-top: 20px;}
.showcase .col-sm-3 {    padding-left: 0px;    padding-right: 0px;}
.col-cell{ display:table-cell; float: none;}
.sound-finance { max-width:700px; margin:0 auto;}
.sound-finance .vc_custom_heading, .sound-finance .details-1 { text-align:center;}
/* New classes end */




.slider-con .carousel-caption p{
    font-size: 22px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);

}
	



@media screen and (max-width: 1200px) {
.tnb .navbar-nav > li > a { padding:30px 15px; font-size:17px;}
.vc_custom_1475127061591 .vc_column_container > .vc_column-inner { padding-left:0px; padding-right:0px;}
.vc_custom_1475127061591 { padding-left:10%; padding-right:10%;}

.circle-img { margin-top:15%;} 
.call-us-parallax, .call-us-outer { height:500px;}
.call-us-wrap { padding-top:6% !important; padding-bottom:7% !important;}
.home-blog .blog-img { max-width: 100%; height:inherit;}
	
/* New classes */	
.sublinks{ padding:0px 10px;}	
.sublinks li a{ padding: 10px 0px; line-height:18px; font-size:14px;}	
/* New classes end */	
}

@media screen and (max-width: 997px) {
.navbar-brand img  { width:130px;}
.tnb .navbar-nav > li > a {
    font-size: 14px;
    padding: 25px 10px;
}
.tnb .navbar-brand {
    padding-top: 14px;
}
.slider-con { height:auto;}/**/
.dt-sc-icon-box { padding:30px 15px 15px;}/**/
.dt-sc-team .dt-sc-team-thumb, .dt-sc-team .dt-sc-team-details { width:100%;}
.dt-sc-team .dt-sc-team-details { position:inherit; right:0px; padding:20px 20px 25px;}
.dt-sc-team .dt-sc-team-thumb img { width:100%;}
.dt-sc-team .dt-sc-team-details h5 { margin-top:0px; margin-bottom:0px;}
.vc_custom_1475127061591 {
    padding-left: 0;
    padding-right: 0;
}
.circle-img { margin-top:25%; display:inline-block;} 
/*.parallax-bg1, .section2 { height:660px;}*/
.dt-sc-tabs-vertical-content { padding:0 0 20px 15px;}
.mb-100 { margin-bottom: 50px;}
.our-team { padding:50px 0 0;}
.home-blog .col-sm-4 { padding-left:10px; padding-right:10px;}
.call-us-parallax, .call-us-outer { height:470px;}

	/*New classes*/	
	.newsletter-con{margin: 50px auto 50px;}	
	.carousel-fade .carousel-caption {bottom: 10%;}
	.carousel-fade .carousel-inner > .item > img{max-width: 130%;width: 130%; }	
	.carousel-fade .carousel-inner > .item{ overflow:hidden;}
	.navbar-right{}
	/*New classes end*/	
}

@media screen and (max-width: 767px) {
.navbar-default .navbar-toggle { border-color:#ffffff;}	
.navbar-default .navbar-toggle .icon-bar { background-color:#ffffff;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color:#14d6ed; border-color:#14d6ed;}
.tnb .navbar-nav > li > a	{ padding:14px 10px;}
.slider-con {background-position: 25% center;}
.four-colum-con { float:left; padding-left:15px; padding-right:15px; padding-bottom: 0 !important;}	
.dt-sc-icon-box { margin-bottom:125px;}
.icon-wrapper { margin:0 auto -84px;}
.uvc-heading {
    margin-top: 20px;
}
.uvc-heading.ultimate-heading-5944583d432917d00 h4 { line-height:30px !important;}
.vc_custom_1473332739462 { margin-top:20px !important;}
.call-us-wrap h1 { font-size:30px;}
ul.dt-sc-tabs-vertical { width:100%;}
.dt-sc-tabs-vertical-content { width:100%; padding:0 0px 20px; margin-top:25px;} 
.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame > li { display:block;}
.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame > li::after { border:none; background:transparent;}
.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame > li.current::after { background:transparent;}
.dt-sc-fancy-list { padding:0px;} 
.dt-sc-newsletter-section.type6 .dt-sc-subscribe-frm input[type="email"], .dt-sc-newsletter-section.type6 .dt-sc-subscribe-frm input[type="text"] { width:100%;}
.dt-sc-newsletter-section.type6 .dt-sc-subscribe-frm input[type="submit"] { margin-top:15px; padding:18px 25px; margin-left:0px;}
.vc_custom_1475835936659, .vc_custom_1477130271207, .vc_custom_1475835849772 {
    padding-bottom: 12px !important;
    padding-top: 15px !important;
}
.vc_custom_1477130271207 { padding-left:10px !important;}
.dt-sc-one-half, .dt-sc-one-fourth {
    width: 100%;
}
#footer .widgettitle { margin:10px 0 15px;}
.newsletter-con { padding-left:15px; padding-right:15px;}
.para-content { padding-left:0px; padding-right:0px;}
.circle-img { margin-top:0;}  

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover { background-color:#14d6ed; color:#ffffff;}
.nav > li { margin-bottom:1px;}
.icon-wrapper { height:110px; width:110px;}
.dt-sc-icon-box .icon-wrapper span { line-height:106px; font-size:45px;}
.circle-img { margin-top:0px; max-width:400px; display:inline-block;} 

.slider-con { height:auto;}

.tab-con1 {margin: 35px 0 0;}
.ult-content-box { min-height:inherit; padding:5px 25px 25px;}
.our-team .row.mb-100 { margin-bottom:0px;}
.horiz-tab-con1 .dt-sc-tabs-horizontal-frame-content { float:left; width:100%;}
.dt-sc-tabs-horizontal-frame-container ul.dt-sc-tabs-horizontal-frame { margin:0 0 20px;}
.home-blog .blog-img { max-width: 100%; height:inherit;}
.footer-copyright { text-align:center; padding:18px 0 15px;}
.footer-copyright .text-right { text-align:center; margin-top:10px;}
.navbar-default .navbar-toggle { margin-top:23px;}
.navbar-nav { margin-top:0px; margin-bottom:0px;}

/*New classes*/	

	.vc_custom_1477130271207 {    padding-left: 0px !important;}
	.sublinks li{ display: table;width: 100%;}
	.carousel-fade .carousel-caption{margin-bottom: 100px;position: relative;bottom: 0%; left: 0%; right: 0%; background: #2F3436;min-height: 220px;}
	.carousel-fade .carousel-caption h1{font-size: 43px;}
	.carousel-fade .carousel-caption p{padding-left: 20px;padding-right: 20px;}
	.col-cell {    display: inherit;    float: inherit;}
	/*New classes end*/	
}
@media screen and (max-width: 479px) {
.circle-img { max-width:100%;}	
.icon-mail {
    float: left;
    margin: 5px 10px 5px 14px;
    vertical-align: middle;
}
.newsletter-con .vc_custom_heading { text-align:left;}
	
/*New classes*/	
.carousel-fade .carousel-inner > .item > img{max-width: 200%;width: 200%;}
		.carousel-fade .carousel-caption{min-height: 330px;}
	.carousel-fade .carousel-caption h1{font-size:40px;}
	.carousel-fade .carousel-control{top: -11%;}

	/*New classes end*/		
	
}