a { 
transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out;}
h1 { font-size: 60px;font-weight: 700;color: #fff;text-transform: uppercase;margin-bottom: 0;}
.page-location a { color:#fff;}
.page-location  { color:#86898b;}
.padding-both-side { padding-left:20%; padding-right:20%;}
.mt-30 { margin-top:30px;}
.details-1  { font-size:16px; color:#86898b; line-height: 26px;} 
.service-link .details-1 { color:#14d6ed;}
.link-1 {color:#14d6ed; margin-top:15px; display:inline-block; font-weight:600;}

.top-bottom-gap {
    padding-top: 60px ;
    padding-bottom: 60px;
}
.top-bottom-gap-2 { padding-top: 80px ; padding-bottom: 80px; }
.main-title-section-wrapper.contacts { background-image:url(../images/breadcrumb-contact-new.jpg); min-height:495px; background-size:cover; background-position:center top; background-repeat:no-repeat; 
padding-top: 220px; padding-bottom: 150px; text-align:center;}
.map-container iframe { float:left;}

.dt-sc-contact-info.type1 span {
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}
.dt-sc-contact-info.type1 span, .dt-sc-icon-box.type1 .icon-wrapper span {
    background: -webkit-linear-gradient(#14d6ed, #3ec669);
    background: linear-gradient(#14d6ed, #3ec669);
    background: -ms-linear-gradient(#14d6ed, #3ec669);
    background: -webkit-gradient(color-stop(0%, #14d6ed), color-stop(100%, #3ec669));
    background: -o-linear-gradient(#14d6ed, #3ec669);
    background: -moz-linear-gradient(#14d6ed, #3ec669);
}

.dt-sc-contact-info span {
    float: left;
    margin: 3px 15px 0px 0px;
    font-size: 20px;
    width: 30px;
    text-align: center;
}
.dt-sc-contact-info {
    /*float: left;*/
    margin: 0px;
    padding: 0px;
    /*clear: both;
    width: 100%;*/
    line-height: 28px;
    position: relative;
    color: #2f3436;
}
.vc_empty_space {
    clear: both;
    float: none;
	height:30px;
}
.dt-sc-contact-info.type1 span {
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    color: transparent;
    -webkit-background-clip: text !important;
    background-clip: text !important;
}

.dt-sc-contact-info { /*float:left;*/ margin:0px; padding:0px; /*clear:both; width:100%;*/ line-height:28px; position:relative; color:#2f3436; display:inline-block;}
.dt-sc-contact-info span { float:left; margin:3px 15px 0px 0px; font-size:20px; width:30px; text-align:center; }
.dt-sc-contact-info p { margin:0px; }
.dt-sc-contact-info .icon-pointer { margin-bottom:10px; }
.dt-sc-contact-info.type1 span {margin-top: 0px; -webkit-text-fill-color: transparent; font-size:30px; color: transparent; -webkit-background-clip: text !important; background-clip: text !important; }
.anchor-1 { color: #14d6ed;}
.anchor-1:hover { color: #2f3436;}
.ult-spacer { clear:both;display:block;}

.wpb_wrapper_phone span { float: none; display: inline-block; vertical-align: middle;}

/* ---------- Services ---------- */
.main-title-section-wrapper.services { background-image:url(../images/breadcrumb-serv.jpg);/* min-height:0px;height: 290px;*/ background-size:cover; background-position:center top; background-repeat:no-repeat; 
/*padding-top: 110px; padding-bottom: 120px;*/ text-align:center; background-attachment:fixed;}
.services-inner{min-height:0px;height: 290px;padding-top: 110px; padding-bottom: 120px;}

.front { background-color:#fff; }
.f1_container {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 230px;
  z-index: 1;
}
.f1_container {
  perspective: 1000;
}
.f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s linear;
}
.f1_container:hover .f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 0px 10px 10px 10px;
  color: white;
  text-align: center;
  background-color: #fff;
}
.face.back p { margin-bottom:0;}

.icon-wrapper-2 {
    font-size: 65px;
	color: #14d6ed;
	display:block; margin:50px 0 0 0; line-height:85px;
}
.front h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0; padding-left:15px; padding-right:15px;
}
.services-container { background-color:#F0F5F5;min-height: 600px;}
.btn_2 { border:0; border-radius:3px; height:45px; background-color:#14d6ed; color:#fff; line-height:46px;
font-size: 14px; padding: 0px 30px 0px 30px; position:relative;}
.btn_2:hover, .btn_2:focus, .btn_2:active { background-color:#2F3436; color:#fff;}
.chart-right { padding:30px 0 0 30px;}
.chart-left-pic { max-width:100%;}
/* ---------- Services ---------- */

.top-bottom-gap-reduce{padding-top: 20px;}

/*New classes*/
.para1{min-height: 104px;}
.error_msg {background:rgba(29, 39, 56, 1); clear: both;	color: rgb(255, 255, 255); display: block; font-size: 11px;	line-height: normal; 	padding: 5px 8px 5px; margin-top:10px; position: relative;}

.error_msg:after {	bottom: 100%;	left: 9px;	border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;	pointer-events: none;	border-color: rgba(0, 0, 0, 0);	border-bottom-color: rgba(29, 39, 56, 1);	border-width: 6px;	margin-left: 0px;}

.success-contact{ text-align:center; }
.success-contact h3{ margin-top: 30px; font-size: 22px;}
.thumb{ background: #51C763; width:144px; height: 144px; text-align: center;line-height: 144px; border-radius: 100%;margin-top: 20px;}
/*New classes end*/

@media (max-width:979px) {
 .services-container{min-height: 648px;}
 }
	

@media (max-width:767px) {
.padding-both-side { padding-left: 5%; padding-right: 5%;}
.top-bottom-gap {    padding-top: 65px ;    padding-bottom: 65px;} 
.sound-finance { margin-top:0px; display:block; clear:both; margin-bottom:60px;}
h1 { font-size:48px; }
.service-link { display:inline-block; width:280px;}
.chart-right { padding-left:0;}

.main-title-section-wrapper.services, .main-title-section-wrapper.contacts {  min-height: 300px;    padding-bottom: 80px;
    padding-top: 110px;}
.mt-30 {margin-top: 15px;}
.call-us-wrap h1 { margin:40px 0 20px;}
} 

@media (max-width:640px) {
.service-link { width:100%;}
}
@media (max-width:560px) {
.dt-sc-contact-info.type1 span {margin-left:0px;}	
}
@media (max-width:479px) {
.service-link { width:280px;}
.services-container .col-xs-6 { width:100%;}
}
