<ion-view class="pagebg-login" title="Change Password" ng-controller="changePwdCtrl">
    <ion-content class="has-header" scroll="true">
        <!-- Form start here-->
        <form class="list form1" name="changePwdForm" novalidate="" ng-submit="doChangePwd(changePwdForm)">

            <input name="role_id" value="" type="hidden" ng-model="changePwdFormData.role_id" />
            <input name="device_id" value="" type="hidden" ng-model="changePwdFormData.device_id" />
            <input name="device_type" value="" type="hidden" ng-model="changePwdFormData.device_type" />
            <input name="access_token" value="" type="hidden" ng-model="changePwdFormData.access_token" />
            <input name="current_password" value="" type="hidden" ng-model="changePwdFormData.current_password" />

            <div class="list">

                <label class="item item-input item-stacked-label"> <span ng-class="changePwdForm.new_password.$touched && (changePwdForm.new_password.$error.required || changePwdForm.new_password.$error.minlength || changePwdForm.new_password.$error.maxlength) ? 'input-label has-error' : 'input-label'">New Password</span>
                    <input type="password" placeholder="" name="new_password" ng-model="changePwdFormData.new_password" ng-minlength="5" ng-maxlength="11" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
                </label>

                <label class="item item-input item-stacked-label"> <span ng-class="changePwdForm.confirm_new_password.$touched && (changePwdForm.confirm_new_password.$error.required || changePwdForm.confirm_new_password.$error.minlength || changePwdForm.confirm_new_password.$error.maxlength) ? 'input-label has-error' : 'input-label'">Confirm Password</span>
                    <input type="password" placeholder="" name="confirm_new_password" ng-model="changePwdFormData.confirm_new_password" ng-minlength="5" ng-maxlength="11" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
                </label>

                <div class="success-msg">{{ flash_success }}</div>
                <div class="has-error">{{ flash_failure }} </div>
            </div>

            <button type="submit" class="button button-stable  button-block btn-login" ng-disabled="changePwdForm.$invalid">Change Password</button>
        </form>
        <!-- Form end here--> 
    </ion-content>
</ion-view>