.cardBody{
    margin: auto;
}    

@media (max-width: 840px) {
    .cardBody{
        display: flex;
        flex-direction: column;
      }
  }

@media (max-width: 576px) {
    .cardBody{
        transform: unset;
        margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;          
      }
  }