<ion-view class="pagebg-login" title="Dashboard" ng-controller="dashboardCtrl">
    <ion-content class="has-header logo-header">
        <div class="main-con">
            <button class="button button-block btn-larg" ui-sref="app.my-buddies">
                <span class="icon-con"><img src="img/icon-buddy.png"/></span>My<br/> Buddies
            </button>
            <button class="button button-block btn-larg" ui-sref="app.feedback-buddies">
                <span class="icon-con"><img src="img/icon-feedback.png"/></span>View<br/> Feedback
            </button>
        </div>
    </ion-content>
</ion-view>