<ion-view class="pagebg-login" title="Monthly feedback for {{ user_details.first_name}}" ng-controller="feedbackMonthlyCtrl" ng-init="init()">
    <ion-content class="has-header has-header-inner2">
        <!-- <div class="topbar">
            <div class="feedback">
                <a href="#" ui-sref="app.feedbackWeekly({id:'{{ user_id }}'})" class="active">Weekly</a>  |  <a href="#" ui-sref="app.feedbackMonthly({id:'{{ user_id }}'})">Monthly</a>
            </div>
        </div>
        <div class="clearfix"></div> -->

        <form role="form" id="feedbackMonthlyForm" name="feedbackMonthlyForm" method="post">
            <div class="list list-con2">
                <input class="form-control" name="user_id" id="user_id" value="{{ user_id}}" type="hidden" />
                <input class="form-control" name="selected_date" id="selected_date" value="{{ selected_date }}" type="hidden" />
                <input class="form-control" name="feedback_type" id="feedback_type" value="Monthly" type="hidden" />

                <div ng-repeat="ff in feedback_fields">
                    <label class="item item-input head1" ng-if="ff.input_type_id == '1'">
                        <div class="input-label">
                            <ion-list>{{ ff.feedback_field_name}}</ion-list>
                        </div>

                        <input type="text" class="input2" id="feedback_field_{{ ff.feedback_field_id}}" name="feedback_field_{{ ff.feedback_field_id}}"> <span class="percent-symbol">%</span>
                    </label>
                </div>

                <a ui-sref="app.my-buddies">
                    <button id="toMyBuddies" style="display: none;">toMyBuddies</button> 
                </a>

                <a class="button button-stable  button-block btn-login" onclick="setFeedbackMonthlyValidations(this); $('#feedbackMonthlyForm').submit();">SUBMIT</a>
            </div>
        </form>
    </ion-content>
</ion-view>