<ion-view class="pagebg-login" title="Weekly feedback for {{ user_details.first_name }}" ng-controller="feedbackWeeklyCtrl" ng-init="init()">
    <ion-content class="has-header has-header-inner1">
        <div class="topbar"> <span class="head-left">ACTIVITY</span> 
            <!-- <div class="feedback">
                <a href="#" ui-sref="app.feedbackWeekly({id:'{{ user_id }}'})" class="active">Weekly</a>  |  <a href="#" ui-sref="app.feedbackMonthly({id:'{{ user_id }}'})">Monthly</a>
            </div> --> 

            <span class="head-right">COUNT</span>   
        </div>
        <div class="clearfix"></div>

        <form role="form" id="feedbackWeeklyForm" name="feedbackWeeklyForm" method="post">
            <div class="list list-con1">
                <input class="form-control" name="user_id" id="user_id" value="{{ user_id }}" type="hidden" />
                <input class="form-control" name="idWeek" id="idWeek" value="{{ idWeek }}" type="hidden" />
                <input class="form-control" name="feedback_type" id="feedback_type" value="Weekly" type="hidden" />
                
                <div ng-repeat="ff in feedback_fields">
                    <label class="item item-input" ng-if="ff.input_type_id == '1'">
                        <div class="input-label">{{ ff.feedback_field_name }} </div>
                        <input type="text" class="input1" id="feedback_field_{{ ff.feedback_field_id }}" name="feedback_field_{{ ff.feedback_field_id }}">
                    </label>

                    <label class="item item-input item-stacked-label" ng-if="ff.input_type_id == '2'"> 
                        <span class="input-label">{{ ff.feedback_field_name }} </span>
                        <textarea class="txt-area1" id="feedback_field_{{ ff.feedback_field_id }}" name="feedback_field_{{ ff.feedback_field_id }}"></textarea>
                    </label>

                    <label class="item item-input item-select" ng-if="ff.input_type_id == '3'">
                        <div class="input-label">{{ ff.feedback_field_name }}</div>

                        <select id="feedback_field_{{ ff.feedback_field_id }}" name="feedback_field_{{ ff.feedback_field_id }}">
                            <option value="">Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                        </select> 
                    </label>
                </div>
            </div>

            <a ui-sref="app.my-buddies">
                <button id="toMyBuddies" style="display: none;">toMyBuddies</button> 
            </a>

            <a class="button button-stable  button-block btn-login" onclick="setFeedbackWeeklyValidations(this); $('#feedbackWeeklyForm').submit();">SUBMIT</a> 

        </form>
    </ion-content>
</ion-view>