@import "../../../assets/Scss/variables.scss";
.loginWrapper {
  flex-direction: row;
  align-items: flex-start;
  margin: 70px auto;
  max-width: 450px;
  font-family: "Roboto";
  font-weight: 500;
  justify-content: center;
  h2{
    text-align: center;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
  }
  .textCenter {
    text-align: center;
  }

  .forgotPass {
    margin-bottom: 20px;
    text-align: right;
  }
  .mt20 {
    margin: 20px 0;
  }
.errorMsg {
     
      margin: 5px auto 0px;
      color: $primaryColor;
    }
}
