@import "../../../assets/Scss/variables.scss";
@import "../../../assets/Scss/breakpoints.scss";

.input {
  min-height: 48px;
  border-radius: 10px;
  padding: 15px 10px 15px 15px;
  box-sizing: border-box;
  border: 1px solid  $grey;;
  color: $grayColor;
  width: 100%;
  margin: 0;
  font-size: $fontLg;
  
  &.primaryBorder {
    border: 1px solid  $grey;;
    &::placeholder {
      color: $grey;
    }
  }

  @include sm {
    font-size: $fontSm;
  }

  &:focus {
    outline: none;
  }
}

textarea {
  padding: 15px 10px 5px 15px;
  &:focus {
    outline: none;
  }
}
::placeholder {
  color:$disabledText;
}