<ion-view class="" title="Weekly Feedback">
  <ion-content class="has-header has-header-inner1">
  
    <!--<div class="topbar"> <span class="head-left">ACTIVITY</span> 
    <div class="feedback"><a href="#" ui-sref="app.feedback-weekly" class="active">Weekly</a>  |  <a href="#" ui-sref="app.feedback-monthly">Monthly</a></div>  <span  class="head-right">COUNT</span>   </div>-->
    <div class="clearfix"></div>

        <!-- Form start here-->
    <form class="list form1">

      <div class="list">
    
          
           <label class="item item-input label-marb0"> <span class="input-label"> Level of practice </span></label>
           <span class="item-select select-marb">
            <select>
              <option selected>Level 1</option>
              <option >Level 2</option>
              <option>Level 3</option>
            </select>
		      </span>
       
       
           <label class="item item-input label-marb0"> <span class="input-label"> Virtue being practiced </span>
        
        </label>
         <span class="item-select select-marb">
          <select>
            <option selected>Constancy of Airrival</option>

          </select>
		  </span>
       
       
       
       <div class="row form-stacked-row">
           <div class="col legend-box">
			     <span class="legend-box-heading">Physical Excercise</span>
             <div class="row form-stacked-row">

                      <div class="col col-50">
                          <div id="">
                                <label class="item item-input item-stacked-label"> <span class="input-label">Before Meditation</span>
                                <input type="text" placeholder="" value="3">
                              </label>
                          </div>
                      </div>

                      <div class="col col-50">
                        <div id="">
                           <label class="item item-input item-stacked-label"> <span class="input-label">After Meditation</span>
                            <input type="text" placeholder="" value="4">
                          </label>
                        </div>
            			   </div>
             </div>
          </div>
        </div>
       
       
        <label class="item item-input item-stacked-label"> <span class="input-label">No. of days Physical Excercise done</span>
          <input type="text" placeholder="" value="3">
        </label>
 
          <label class="item item-input item-stacked-label"> <span class="input-label">Service Blue Triangle</span>
          <input type="text" placeholder="" value="3">
        </label>
        
            <label class="item item-input item-stacked-label"> <span class="input-label">Service Blue Triangle</span>
          <input type="text" placeholder="" value="4">
        </label>
        
                 <label class="item item-input item-stacked-label"> <span class="input-label">Virtue Blue Triangle</span>
          <input type="text" placeholder="" value="3">
        </label>
        
                       <label class="item item-input item-stacked-label"> <span class="input-label">Virtue IRFR</span>
          <input type="text" placeholder="" value="3">
        </label>
        
        
           <div class="row form-stacked-row">
           <div class="col legend-box">
           
			   <span class="legend-box-heading">Meditation practice details</span>
           <div class="row form-stacked-row">
          <div class="col col-50">
                  <label class="item item-input item-stacked-label"> <span class="input-label">Morning Sadhana</span>
          <input type="text" placeholder="" value="3">
        </label>
          </div>
          <div class="col col-50">
               <label class="item item-input item-stacked-label"> <span class="input-label">PPM</span>
          <input type="text" placeholder="" value="4">
        </label>
			   </div></div>
       
       
         <div class="row form-stacked-row">
          <div class="col col-50">
                  <label class="item item-input item-stacked-label"> <span class="input-label">Soul</span>
          <input type="text" placeholder="" value="3">
        </label>
          </div>
          <div class="col col-50">
               <label class="item item-input item-stacked-label"> <span class="input-label">Dhyan</span>
          <input type="text" placeholder="" value="4">
        </label>
			   </div></div>
			   
			   <div class="row form-stacked-row">
          <div class="col col-50">
                  <label class="item item-input item-stacked-label"> <span class="input-label">Kundalini/Levels</span>
          <input type="text" placeholder="" value="3">
        </label>
          </div>
          <div class="col col-50">
               <label class="item item-input item-stacked-label"> <span class="input-label">Lords Prayer</span>
          <input type="text" placeholder="" value="4">
        </label>
			   </div></div>
       
       </div>
        </div>
        
        
        
        <label class="item item-input item-stacked-label"> <span class="input-label">Forgiveness Sadhna</span>
          <input type="text" placeholder="" value="4">
        </label>
        
        
                
        <label class="item item-input item-stacked-label"> <span class="input-label">Missed Meditation</span>
          <input type="text" placeholder="" value="4">
        </label>
        
         <label class="item item-input item-stacked-label"> <span class="input-label">Healing hours</span>
          <input type="text" placeholder="" value="3">
        </label>
        
           <label class="item item-input item-stacked-label"> <span class="input-label">Are you healing family members?</span>
          <input type="text" placeholder="" value="3">
        </label>
        
            <label class="item item-input item-stacked-label"> <span class="input-label">Is Healing regularly required?</span>
          <input type="text" placeholder="" value="3">
        </label>
        
             <label class="item item-input item-stacked-label"> <span class="input-label">Self-healing</span>
          <input type="text" placeholder="" value="3">
        </label>
        
        
        <div class="row form-stacked-row">
           <div class="col legend-box">
           
			   <span class="legend-box-heading">Physical Health</span>
           <div class="row form-stacked-row">
          <div class="col col-50">
                  <label class="item item-input item-stacked-label"> <span class="input-label label-same">BMI</span>
          <input type="text" placeholder="" value="3">
        </label>
          </div>
          <div class="col col-50">
               <label class="item item-input item-stacked-label"> <span class="input-label label-same">BP</span>
          <input type="text" placeholder="" value="4">
        </label>
			   </div></div>
       
       
         <div class="row form-stacked-row label-same">
          <div class="col col-50">
                  <label class="item item-input item-stacked-label"> <span class="input-label">SUGAR</span>
          <input type="text" placeholder="" value="3">
        </label>
          </div>
          <div class="col col-50">
               <label class="item item-input item-stacked-label"> <span class="input-label">Other blood parameters</span>
          <input type="text" placeholder="" value="4">
        </label>
			   </div></div>
			   
			   <div class="row form-stacked-row">
          <div class="col col-50">
                  <label class="item item-input item-stacked-label"> <span class="input-label">Any other parameters</span>
          <input type="text" placeholder="" value="3">
        </label>
          </div>
          <div class="col col-50">
               <label class="item item-input item-stacked-label label-same"> <span class="input-label">Under medication</span>
          <input type="text" placeholder="" value="4">
        </label>
			   </div></div>
       
       </div>
        </div>
        
        
                <label class="item item-input item-stacked-label"> <span class="input-label">Under medication any medicine</span>
          <input type="text" placeholder="" value="3">
        </label>
        
        <label class="item item-input item-stacked-label"> <span class="input-label">Book Study</span>
          <input type="text" placeholder="" value="4">
        </label>
        
               <label class="item item-input item-stacked-label"> <span class="input-label">Service Hours</span>
          <input type="text" placeholder="" value="3">
        </label>
        
          <label class="item item-input item-stacked-label"> <span class="input-label">Service details</span>
          <input type="text" placeholder="" value="4">
        </label>
        
          <label class="item item-input item-stacked-label"> <span class="input-label">Salt water bath</span>
          <input type="text" placeholder="" value="3">
        </label>
        
             <label class="item item-input item-stacked-label"> <span class="input-label">No. of days Isabgol taken</span>
          <input type="text" placeholder="" value="3">
        </label>
        
                     <label class="item item-input item-stacked-label"> <span class="input-label">Any other feedback</span>
						 <div class="clearfix"></div>
							<textarea placeholder="" rows="8" cols="10"></textarea>
        </label>
        
        
        
      </div>
      <a class="button button-stable  button-block btn-login" ui-sref="">SUBMIT</a>

    </form>
    
    <!-- Form end here--> 
  </ion-content>
</ion-view>
