<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BB43C8293641687884848F90A913ABE0763DD338</string>
				<key>dateExpires</key>
				<string>01/02/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>98TCDCHV95.com.ypvsadhna.Spiritual</string>
				<key>com.apple.developer.team-identifier</key>
				<string>98TCDCHV95</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Spiritual Buddy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>adcf947f-371a-49c9-8c5f-175f71f36037</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ypvsadhna.Spiritual</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>98TCDCHV95</string>
				<key>name</key>
				<string>Varun Bihani</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
