@import "../../../assets/Scss/variables.scss";

.Wrapper{
.buddiesWrapper {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  
  border-bottom: 1px solid $disabledText;
  .buddiesHeader {
    display: flex;
    flex-wrap: wrap;
    .textHead {
      margin: 20px 0 20px 20px;
      
    }
    .buddiesRight {
      margin: 10px;
      position: absolute;
      right: 30px;
    }
  }
}
.listWrapper{
margin: 25px;
max-width: 550px;
min-height: 473px;

border: 1px solid #C5C0DB;
box-sizing: border-box;
border-radius: 10px;
}

.modalInner{
  width: 100%;
  padding: 68px 98px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.closeModal {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 5px 7px;
  cursor: pointer;
}

.btnClose {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modalHeading{
  text-align: center;
  margin: 0px 0 20px 0;
    width: 100%;
    color: $greyDark;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 21.09px;
}
.modalBtn{      
  width:142px;
  height:45px;
  font-size: 14px;
  line-height: 16.41px;
  border-radius: 5px;
  font-weight: normal;
  }

  .secondary{
      background-color: $secondary;
      color: #504D58;
      border: unset;
      cursor: pointer;
      
    }
    .primery{
      background-color: $primaryColor;
      color: $whiteColor;
      border: unset;
      cursor: pointer;
    }
   

    .tabBtn{
      width: 50%;
      height: fit-content;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      padding: 15px 0px;
      align-items: center;
      text-align: center;
      color: $greyDark;
      border-bottom:  1px solid $greyDark;
      cursor: pointer;
    }
    .activeTab{
      color: $primaryColor;
      border-bottom: 2px solid $primaryColor;
    }

    .selectBtn{
      font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #504D58;
    width: 100%;
    height: fit-content;
    cursor: pointer;
    text-decoration: none;
    }
    .marginAuto{
      margin: 0 auto;
    }
}

@media(max-width:576px){
  .Wrapper{
    flex: 0 0 100%;
        max-width: 100%;
    .modalInner{
    padding: 40px 40px;
    }
    .buddiesWrapper{
      .buddiesHeader {
        .textHead {
          flex: 0 0 100%;
          max-width: 100%;
          margin: unset;
          padding: 20px 0 20px 20px;
        }
        .buddiesRight {
          flex: 0 0 100%;
          max-width: 100%;
          margin: unset;
          padding: 10px 0 10px 10px;
          position: unset;
        }
      }
    }
  }
  
}