@import "../../../assets/Scss/variables.scss";
.col12{
  flex: 0 0 100%;
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
    .dashBordBody{
      flex: 0 0 80%;
      max-width: 80%;
        display: flex;
        // flex-flow: wrap;
        flex-direction: column;
        
            
    }
    .h100{
        height: 100vh;
    }

  .justifyContentCenter {
    justify-content: center;
  }
  .alignItemsCenter {
    align-items: center;
  }
  .positionRelative {
    position: relative;
  }
}
.closeBtn{
  display: none;
}
.py15 {
  padding: 15px 0;
}
.pb50 {
  padding-bottom: 50px;
}
.activeMenu{
 color: inherit;;
}


  @media (max-width: 576px) {
   
      .SideBar_navBar__84Q3x{display: block; width: 50%;}  
     .stickyMenu{
       width: 100%;
      position: sticky;
      top: 0px;}

      .row{
        .dashBordBody {
          flex: 0 0 100%;
          max-width: 100%;
            // position: absolute;
        }
      }

      .activeMenu {
        .closeBtn{
          display: block;
          position: fixed;
          width: 35%;
          height: 100vh;
          z-index: 3;
          right: 0;
          opacity: 0;
          top: 0;
          bottom: 0px;
          }
      }

      .activeMenu{
        .demo {
          background-color: #000;
          z-index: 1;
          width: 100%;
          flex: 0 0 100%;
          max-width: 100%;
          height: 100vh;
          opacity: 0.9;
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }

        .navBarWidth {
          display: block;
          flex: 0 0 65%;
          max-width: 65%;
          background-color: #fff;
          height: 100vh;
          opacity: 1;
      }
    }
      
  }
