@import "../../../assets/Scss/variables.scss";
.col12{
  flex: 0 0 100%;
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
    .dashBordBody{
      flex: 0 0 80%;
      max-width: 80%;
        display: flex;
        // flex-flow: wrap;
        flex-direction: column;
        
            
    }
    .h100{
        height: 100vh;
    }

  .justifyContentCenter {
    justify-content: center;
  }
  .alignItemsCenter {
    align-items: center;
  }
  .positionRelative {
    position: relative;
  }
}
.closeBtn{
  display: none;
}
.py15 {
  padding: 15px 0;
}
.pb50 {
  padding-bottom: 50px;
}
.activeMenu{
 color: inherit;;
}


  @media (max-width: 576px) {
   
      .SideBar_navBar__84Q3x{display: block; width: 50%;}  
     .stickyMenu{
       width: 100%;
      position: sticky;
      top: 0px;}
      
  }
