<ion-view style="" class="" title="" hide-nav-bar="true" ng-controller="loginCtrl">
    <ion-content class="has-header logo-header" scroll="true">
        <!-- Logo start-->
        <div class="logo-bar-header">
            <div class="backArrow" ng-click="backToLogin()"> <img class="" src="img/arrow-back.png"/></div>
            <div class="logo"> <img class="" src="img/logo.png"/></div>
            <div class="clearfix"></div>

            <h1 class="title">Forgot Password</h1>
        </div> 
        <!-- Logo end --> 

        <!-- Form start here -->
        <form class="list login-form form1" name="forgotPasswordForm" novalidate="" ng-submit="forgotPasswordSubmit(forgotPasswordForm)">
            
            <div class="list">
                <label class="item item-input item-stacked-label"> <span ng-class="forgotPasswordForm.accountemail.$touched && (forgotPasswordForm.accountemail.$error.required || forgotPasswordForm.accountemail.$error.accountemail || forgotPasswordForm.accountemail.$error.minlength || forgotPasswordForm.accountemail.$error.maxlength) ? 'input-label has-error' : 'input-label'">Email</span>
                    <input type="email" placeholder="" name="accountemail" ng-model="forgotPasswordFormData.accountemail" ng-minlength="1" ng-maxlength="255" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
                </label>
                <div class="has-error">{{ flash_failure }} </div>
            </div>

            <button type="submit" ng-class="flash_failure ? 'hide' : 'show'" class="button button-stable button-block btn-login" ng-disabled="forgotPasswordForm.$invalid">SUBMIT</button>
        </form>
        <!-- Form end here --> 
    </ion-content>
</ion-view>